# Django Settings  
# creating the secrete key:  Using Python's secrets Module (Most Secure)
#python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=Your secret key 
DEBUG=False
ALLOWED_HOSTS=educore.yourdomain.com,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://educore.yourdomain.com
CSRF_TRUSTED_ORIGINS=https://educore.yourdomain.com

# Database
DB_NAME=educore
DB_USER=educore_user
DB_PASSWORD=SecurePassword123!
DB_HOST=postgres
DB_PORT=5432